<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sistema de Agendamento</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/sistemaAgendamento.styles.css" asp-append-version="true" />

</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <i class="bi bi-list-check"></i> TasksApp
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
                        data-bs-target="#mainNavbar" aria-controls="mainNavbar" 
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mainNavbar">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                        <a class="nav-link" asp-controller="Tarefa" asp-action="Index">Minhas Tarefas</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" asp-controller="Tarefa" asp-action="Create">Adicionar</a>
                        </li>
                    </ul>
                    <button onclick="toggleTheme()" id="themeToggleBtn">🌗 Tema</button>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="flex-fill">
            @RenderBody()
        </main>
    </div>

    <footer class="mt-auto bg-dark text-white py-3">
        <div class="container text-center">
            <small>
                © 2025 TasksApp. Todos os direitos reservados.
                <a href="#" class="text-light text-decoration-none">Política de Privacidade</a> |
                <a href="#" class="text-light text-decoration-none">Termos de Uso</a>
            </small>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/theme.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
